.Account{
    width: 100%;
    padding: 0 20px;

    .element{
        cursor: pointer;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        user-select: none;

        .informationContainer{
            display: flex;
            flex-direction: row;
            align-items: center;
            .imageContainer{
                width: 24px;
                height: 24px;
                margin-right: 2px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            span{
                font-size: 20px;
            }
        }
        .arrowContainer{
            img{

            }
        }
    }
}

@media (min-width: 768px){
    .Account{
        width: 310px;
    }
}