.ProgressBar{
    width: 100%;
    height: 62px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 400px;

    .line{
        width: 20px;
        height: 1px;
        margin-top: 20px;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .numberContainer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 40px;
        height: 62px;

        div{
            width: 40px;
            height: 40px;
            background-color: hsla(0, 0%, 0%, 0.4);
            border-radius: 50px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            margin-bottom: 2px;
        }
        span{
            font-size: 7px;
            color: rgba(0, 0, 0, 0.4);
            text-align: center;
        }
    }

    .current{
        div{
            background-color: #204745;
        }
    }
}