@import "../../variables.scss";

.Chat {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: $green;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
  transition: width 0.2s, height 0.2s;
  box-shadow: 0 0 10px 2px #ffffff;
}
.startConversation {
  cursor: auto;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  right: 0;
  bottom: 0;
  border-radius: 0;
  padding: 60px;
  flex-direction: column;
  justify-content: space-between;
  color: white;

  .minimalize {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }

  span.title {
    font-size: 40px;
  }

  .startContainer {
    width: 250px;
    height: 100px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
      width: 200px;
      height: 50px;
      background-color: $green;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 17px;
      border-radius: 6px;
      color: white;
      border: none;
      cursor: pointer;
    }
  }
}
.conversation {
  cursor: auto;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  right: 0;
  bottom: 0;
  border-radius: 0;
  overflow: hidden;
  .topBar {
    width: 100%;
    height: 65px;
    background-color: $green;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    img {
      cursor: pointer;
    }
  }
  .content {
    width: 100%;
    height: calc(100% - 130px);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: scroll;

    .messageContainer {
      align-self: flex-start;
      display: flex;
      margin-bottom: 10px;

      .imageContainer {
        width: 40px;
        height: 40px;
        background-color: #d9d9d9;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .message {
        margin: 0 10px;
        text-align: left;
        .text {
          max-width: 60vw; //change on desktop
          background-color: rgba(0, 0, 0, 0.4);
          padding: 10px;
          border-radius: 12px;
          color: white;
        }
        .time {
          font-size: 10px;
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }

    .myMessage {
      align-self: flex-end;
      .imageContainer {
        order: 2;
      }
      .message {
        text-align: right;
        order: 1;
        .text {
          color: white;
          background-color: $green;
          opacity: 0.8;
        }
      }
    }
  }
  .writeMessage {
    width: 100%;
    height: 65px;
    background-color: #e8e8e8;
    border-top: 1px solid #808080;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      width: calc(100% - 65px);
      height: 65px;
      border: none;
      background-color: transparent;
      padding: 20px;
    }
    button.sendContainer {
      width: 65px;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: transparent;
      font-size: 13px;
      cursor: pointer;

      img {
        filter: invert(100%);
      }
    }
  }
}

@media (min-width: 768px) {
  .startConversation {
    width: 320px;
    height: 450px;
    right: 20px;
    bottom: 20px;
    border-radius: 12px;
  }
  .conversation {
    width: 320px;
    height: 450px;
    right: 20px;
    bottom: 20px;
    border-radius: 12px;
    .topBar {
      height: 40px;
    }
    .content {
      height: calc(100% - 105px);
      .messageContainer {
        .message {
          .text {
            max-width: 190px;
          }
        }
      }
    }
  }
}
