@import '../../variables.scss';

$navBarMobileHeight: 65px;
$navBarDesktopHeight: 100px;

$loupeMobileWidth: 220px;
$loupeMobileHeight: 35px;

.NavBar{
    width: 100vw;
    height: $navBarMobileHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 20px;
    position: fixed;
    background-color: white;
    z-index: 100;

    .hamburger{
        width: 24px;
        height: 24px;
        position: relative;

        div{
            width: 17px;
            height: 1px;
            background-color: black;
            border-radius: 50px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: .2s;
        }

        div:nth-child(1){
            top: 20%;
            
        }
        div:nth-child(2){
            top: 40%;

        }
        div:nth-child(3){
            top: 60%;
        }
        div:nth-child(4){
            top: 80%;
        }
    }

    .hamburgerX{
        div{
            width: 33.9px;
        }

        div:nth-child(2){
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        div:nth-child(3){
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        div:nth-child(1), div:nth-child(4){
            opacity: 0;
        }
    }

    .logoContainer{
        position: absolute;
        top: calc($navBarMobileHeight / 2);
        left: 50%;
        transform: translate(-50%, -50%);
        .logo{
        }
    }
        
    .loupe{
        width: 24px;
        height: 24px;
        position: relative;

        div:nth-child(1){
            width: 16px;
            height: 16px;
            border: 1.5px solid black;
            border-radius: 50px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        div:nth-child(2){
            position: absolute;
            width: 5px;
            height: 1.5px;
            right: 7px;
            bottom: 7px;
            background-color: black;
            transform-origin: right;
            transform: rotate(-135deg);
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
        }
        div:nth-child(3){
            position: absolute;
            width: 33.9px;
            height: 2px;
            bottom: -1px;
            left: 1px;
            background-color: red;
            transform-origin: bottom left;
            transform: rotate(-45deg);
            border-radius: 50px;
        }
    }

    .loupeContainer{
        background-color: #204745;
        width: $loupeMobileWidth;
        height: $loupeMobileHeight;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid black;
        overflow: hidden;
        border-radius: 50px;
        position: absolute;
        left: 50%;
        top: calc($navBarMobileHeight / 2);
        transform: translate(-50%, -50%);

        input{
            width: calc(100% - 40px);
            height: 100%;
            border: none;
            padding-left: 10px;
            background-color: transparent;
            color: white;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;

            &::placeholder{
                color: white;
                opacity: .5;
            }
        }

        button.iconContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 100%;
            background-color: transparent;
            border: none;
            cursor: pointer;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;

            img{
                width: calc($loupeMobileHeight - 15px);
                height: calc($loupeMobileHeight - 15px);
                filter: brightness(0) invert(1);
            }
        }
    }

    ul{
        position: absolute;
        left: 0;
        top: 65px;
        width: 100vw;
        height: calc(100vh - 65px);
        height: calc(100dvh - 65px);
        background-color: white;
        padding: 40px 20px;
        text-align: left;
        list-style: none;
        
        a{
            text-decoration: none;
            color: black;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 40px;

            .iconContainer{
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            span{
                font-size: 20px;

                &::first-letter{
                    text-transform: uppercase;
                }
            }
        }

        .loginContainer{
            position: absolute;
            width: 100%;
            height: 120px;
            bottom: 40px;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            a{
                margin: 0;
                div{
                    width: 150px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $green;
                    font-size: 20px;
                    border: 1px solid $green;
                    border-radius: 5px;
                }
                .login{
                        border-color: transparent;
                        background-color: $green;
                        color: white;

                }
            }
        }
    }
}


@media (min-width: 768px){
    .NavBar{
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .logoContainer{
            position: static;
            transform: none;
            top: 0;
            left: 0;
        }

        .loupeContainer{
            position: static;
            transform: none;
            width: 150px;
            
            input{
            }
            button.iconContainer{
            }
        }

        ul{
            position: static;
            width: 70%;
            max-width: 700px;
            height: 35px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: transparent;
            padding: 0;

            a{
                margin-bottom: 0;

                .iconContainer{
                    width: 18px;
                    height: 18px;

                }

                span{
                    font-size: 15px;
                }
            }
        }
    }
}

@media (min-width: 1000px){
    .NavBar{
        padding: 0 60px;
    }
}

@media (min-width: 1100px){
    .NavBar{
        .loupeContainer{
            position: static;
            transform: none;
            width: $loupeMobileWidth;
        }
    }
}

@media (max-height: 550px){
    .NavBar{
        ul{
            .loginContainer{
                top: 325px;
            }
        }
    }
}